.my-activities-container{
    min-width: 400px;
    min-height: 400px;
    color: black;
}

.my-activities-title{
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
}

@media (max-width: 420px) {
    .my-activities-container{
        min-width: 0px;
        max-width: 375px;
        max-height: 200px;
    }
}

.activity-txt{
    display: block;
    float:left;
    margin-right: 5%;
    line-height: 20px;
}

.loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-top-color: #fff;
    animation: spinner2 600ms linear infinite;
    }
    @keyframes spinner2 {
    to {
    transform: rotate(360deg);
    }
}