

@media (min-width: 768px) {
    
    .profile-container{
        margin-left: auto;
        margin-right: auto;
        display: block;
        border: solid white 1px;
        padding: 20px;
        width: 800px;
        height: 600px;
        border-radius: 10px;
    }

}

.tokens{
    text-align: center;
}

.upcoming-classes-title{
    text-align: center;
}

.none{
    text-align: center;
}

.upcoming-classes-container{
    overflow: cover;
    margin-bottom: 5%;
}